<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style-lipstick.css" type="text/css">
<title>Đẹp thôi chưa đủ</title>
</head>
<body>
	<div>
        <ul class="show">
            <li class="font-li">Rogerles</li>
            <li><a href="news.jsp">Tin tức</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Đẹp thôi chưa đủ, là phụ nữ phải thông minh</h1>
    </div>
    <br><br>

    <div id="content">
        <h3>Phụ nữ sinh ra, ai cũng được tạo hóa ban tặng cho đường nét, vóc dáng, 
            thần thái hay khí chất riêng. Vì thế mà phụ nữ được ưu ái gọi là "phái 
            đẹp". Tuy nhiên, ngay cả khi sinh ra với vẻ đẹp trời phú "mười phân 
            vẹn mười" thì vẻ đẹp đó cũng cần phải được chăm sóc.</h3>
        
        <p>
            Mỗi ngày, môi trường bên ngoài, tuổi tác khiến bạn phải đối mặt với 
            làn da không còn căng mịn, cơ mặt đã bắt đầu chảy xệ, những nếp chân 
            chim xuất hiện, mí mắt sụp, chân mày chùng… làm cho gương mặt không 
            thể rạng rỡ, xinh tươi. Do đó, để giữ gìn được "tặng phẩm" mà thượng 
            đế đã ban tặng cho phái đẹp thì ngoài chế độ ăn uống khoa học, sinh 
            hoạt điều độ thì bạn cần chăm sóc da ngay từ khi chưa có dấu hiệu của lão hóa. 
        </p>
        <br><br>
        <div class="show1">
            <img src="../image/girl1.png" alt="image1">
        </div>
        <p>
            Tuy nhiên, không ít phái đẹp chọn các sản phẩm mỹ phẩm không rõ nguồn gốc, 
            cộng thêm thói quen sử dụng mỹ phẩm còn quá "dễ dãi" nên tỷ lệ tai biến 
            rất phổ biến. Nhiều trường hợp để lại di chứng nặng nề, điều trị tốn 
            kém cả thời gian lẫn tiền bạc. Các sản phẩm mỹ phẩm an toàn được phép 
            lưu hành cần phải vượt qua sự kiểm nghiệm gay gắt, không có các chất 
            cấm, thủy ngân, corticid…
            <br><br>
            Do vậy, khi chọn các sản phẩm mỹ phẩm các chị em nên chú trọng đến thành 
            phần và công nghệ sản xuất để xem xét về chất lượng. Đặc biệt là nên 
            chọn những nhãn hiệu uy tín trên thị trường.
            <br><br>
            Một trong những tên tuổi tiên phong cho xu hướng này trong lĩnh vực 
            làm đẹp có thể kể đến nhãn mỹ phẩm cao cấp Deaura. Được định vị là 
            sản phẩm cao cấp, Deaura D’or Mystere giúp tiết kiệm thời gian cũng 
            như đề cao tính hiệu quả bằng việc khép kín chu trình dưỡng da như 
            spa tại nhà, dưới sự tư vấn của chuyên gia.
            <br><br>
            Bộ mỹ phẩm cao cấp được điều chế đặc biệt từ nguyên liệu vàng 24karat 
            có tác dụng chống lão hóa có khả năng thẩm thấu vào tầng sâu nhất của 
            da, massage và kích hoạt chế độ tự phục hồi của da.
            <br><br>
            Kết hợp thêm các nguyên liệu, thành phần cao cấp khác, D’or Mystere 
            tạo nên quy trình: thanh lọc - cung cấp dưỡng chất - duy trì bảo vệ. Đi 
            kèm bộ 10 sản phẩm là một máy cầm tay giúp đẩy sâu các tinh chất, tạo ra 
            một liệu trình spa chăm sóc da tại nhà và tối thiểu 12 buổi chăm sóc da 
            chuyên sâu bởi chuyên gia. 
            <br><br>
            Với rất nhiều sản phẩm trên thị trường, phái đẹp hãy trở thành những 
            người tiêu dùng thông thái để lựa chọn sản phẩm phù hợp và hiệu quả 
            với làn da của mình. Hãy trở thành một người phụ nữ tự tin và không 
            để ngoại hình kém sắc là lý do cho bất cứ sự trì hoãn nào trong cuộc 
            sống, tự lắng nghe, cảm nhận và yêu thương bản thân mình hơn mỗi ngày.
        </p>
        <h4>Thu Thuỷ</h4>

    </div>
</body>
</html>