<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style-lipstick.css" type="text/css">
<title>Son môi</title>
</head>
<body>
	<div>
        <ul class="show">
            <li class="font-li">Rogerles</li>
            <li><a href="news.jsp">Tin tức</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Màu son môi nào đang lên ngôi trong mùa Thu năm nay</h1>    
    </div>
    <br><br>
    <div id="content">
        <h3>Mùa thu dường như sẽ bị “thôi miên” bởi một đôi môi sẫm màu, căng mọng.</h3>
        <div class="show1">
            <img src="../image/son1.jpg" alt="image1">
        </div>
        <p>
            Những năm gần đây, son tông màu đất được hội chị em yêu thích bởi nét đẹp tây tây. 
            Vậy đã  bao lâu rồi, bạn chưa tô điểm cho mình một vẻ ngoài trông quyến rũ và 
            tự nhiên nhất? Mùa thu năm nay sẽ là thời điểm thích hợp cho bạn có một diện 
            mạo mới mẻ với sắc son đỏ cổ điển, gam màu trầm ấm đầy chất thu và ánh nhũ gợi cảm.
        </p>
       <h4>1. Đôi môi gợi cảm một cách tinh tế</h4>
       <p>"Bitten lips" là một vẻ đẹp đang dần phát triển trong vài mùa qua. Điển hình 
           Victoria Beckham thậm chí còn tạo ra bộ sưu tập Bitten Lip Tint trong list 
           trang điểm của mình. Ý tưởng đằng sau xu hướng này là làm cho đôi môi của bạn 
           trông quyến rũ một cách hết sức tự nhiên bằng cách chấm một vệt son ở giữa môi 
           và tán nhạt dần về phía khóe miệng. Phiên bản son môi này được tung ra nhằm 
           mục đích cho bất kể phái đẹp nào cũng đều dễ dàng có được một bờ môi căng mọng 
           đầy gợi cảm mà trông vô cùng tinh tế. Minh chứng là nó đã được xuất hiện trên 
           các đường băng mùa thu/đông 2020 tại 16Arlington, Fendi và Ports 1961,...</p>
        <div class="show1">
            <img src="../image/son2.jpg" alt="image2">
            <img src="../image/son3.jpg" alt="image3">
        </div>
        <h4>2. Dôi môi đỏ cổ điển đầy thu hút</h4>
        <p>Son môi đỏ là một xu hướng cổ điển vượt thời gian đã trở lại trong năm nay. 
            Sẽ không có điều gì có thể khiến bạn cảm thấy hòa hợp và huyền ảo như 
            một làn môi đỏ trong tiết trời mùa thu với chiếc áo khoác sang trọng. 
            Đặc biệt, phiên bản màu son đỏ năm nay được nhiều nhà mốt cho vào công 
            thức dưỡng ẩm và bóng để trông đôi môi căng mọng hơn, đơn cử những cái tên 
            như Marc Jacobs, Jil Sander và Brock Collection. </p>
        <div class="show1">
            <img src="../image/son4.jpg" alt="image4">
            <img src="../image/son5.jpg" alt="image5">
        </div>
        <h4>3. Son nhũ bóng tái xuất</h4>
        <p>Mặc dù nhũ bóng đã là một phần của ngành làm đẹp trong nhiều năm qua đối 
            với mắt và má, nhưng đã lâu rồi nó không xuất hiện trong những thỏi son. 
            Tuy nhiên, điều đó đã được thiết lập để thay đổi vào mùa thu/đông năm 2020. 
            Công thức tạo độ bóng cao đã được áp dụng cho đôi môi tại Lanvin, Chanel và 
            DROMe, trên da trần (son nhũ bóng) hoặc trên lớp đầu của son môi (son dưỡng 
            màu, son màu...) để tăng thêm hiệu ứng. </p>
        <div class="show1">
            <img src="../image/son6.jpg" alt="image6">
            <img src="../image/son7.jpg" alt="image7">
        </div>
        <h4>4. Đôi môi sẫm màu, căng mọng</h4>
        <p>Nếu mùa xuân người ta thường bị cuốn hút bởi đôi môi màu hồng phấn ngọt ngào, 
            đối với mùa thu dường như sẽ bị “thôi miên” bởi một đôi môi sẫm màu, căng mọng. 
            Son môi sẫm màu đã xuất hiện ấn tượng trên vô số sàn diễn mùa thu/đông 2020, 
            với những cái tên như Rodarte, Chocheng và Anna Sui sử dụng nó để hoàn thiện 
            vẻ ngoài trang điểm khói quyến rũ của họ. Song đôi môi sẫm màu luôn trông đặc 
            biệt nổi bật so với làn da phủ sương và đôi má ửng hồng, được hoàn thiện bằng 
            một lớp mascara mỏng nhẹ như lông vũ. </p>
        <div class="show1">
            <img src="../image/son8.jpg" alt="image8">
            <img src="../image/son9.jpg" alt="image9">
        </div>
    </div>
</body>
</html>