<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style-lipstick.css" type="text/css">
<title>Quần sọt</title>
</head>
<body>
	<div>
        <ul class="show">
            <li class="font-li">Rogerles</li>
            <li><a href="news.jsp">Tin tức</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Bí kíp cho nam giới mặc quần short ra phố vẫn phong độ ngời ngời</h1>
    </div>
    <br><br>

    <div id="content">
        <h3>Để lên đồ lịch sự tuyệt đối, một mẹo đơn giản mà “vô phương bất bại” 
            là kết hợp quần short với các item công sở.</h3>
        <p>Quần short được xem là món đồ “quốc dân” của các đấng mày râu. Bởi 
            chúng không chỉ mang lại cảm giác thoải mái mà còn có thể mặc 
            từ trong nhà ra ngoài phố. Nhưng trong nhiều dịp đặc biệt hơn 
            như buổi hẹn hò chẳng hạn, các đấng mày râu lại có phần e dè với 
            chúng vì sợ nàng đánh giá là trang phục kém sang. Thật ra, đó là 
            do các anh chưa chinh phục được chiếc quần short mà thôi, bởi chỉ 
            cần mặc đẹp và lịch thiệp thì sẽ chẳng còn sợ ai trách móc là thiếu tế nhị.</p>
        <p>Sau đây sẽ là một vài bí kíp cho các anh tự tin diện quần short ra ngoài phố mà 
            vẫn phong độ ngời ngời:</p>
        <h4>1. Ưu tiên kiểu quần short thanh lịch</h4>
        <p>Có khá nhiều loại quần short cho các quý anh lựa chọn, song chất liệu kaki hoặc 
            giả da mới là sự lựa chọn thông minh hơn cả. Chúng phù hợp trong nhiều hoàn cảnh 
            và những dịp mang tính chất trang trọng hơn một buổi dạo phố thông thường. Trong 
            khi đó, quần short mỏng và dễ nhăn phái mạnh hãy tuyệt đối tránh xa.</p>
        <div class="show1">
            <img src="../image/shorts1.jpg" alt="image1">
            <img src="../image/shorts2.jpg" alt="image2">
        </div>

        <h4>2. Ghép đôi với các món đồ thanh lịch là “vô phương bất bại”</h4>
        <p>Để lên đồ lịch sự tuyệt đối, một mẹo đơn giản mà “vô phương bất bại” là kết hợp 
            quần short với các item công sở. Bên cạnh áo sơ mi, giày tây hay giày lười 
            thì một chiếc cặp da/giả da cũng sẽ là những món đồ hữu hiệu nâng tầm phong 
            cách cho các quý anh. Dĩ nhiên, quần short mix với áo phông hoàn toàn phù hợp, 
            nhưng trong một số dịp bạn sẽ cần đến chiếc áo phông có cổ để diện mạo trông 
            lịch thiệp hơn. Hoặc có thể, đôi khi bạn sẽ muốn buông lơi vài chiếc cúc ngực 
            để thêm nét phong trần thay vì lúc nào cũng đóng bộ chỉn chu.</p>
        <div class="show1">
            <img src="../image/shorts3.jpg" alt="image3">
            <img src="../image/shorts4.jpg" alt="image4">
        </div>

        <h4>3. Màu sắc sang trọng nên được đề cao</h4>
        <p>Đối với cánh mày râu, màu sắc được coi là sang trọng không quá phức tạp như 
            phụ nữ. Đơn giản chỉ là những tone màu trung tính, nhã nhặn mà thôi. Trong 
            khi đó những gam màu nóng tuy nổi bật nhưng nếu không phải là người sành mix 
            match lại dễ hóa kém sang.
        </p>
        <div class="show1">
            <img src="../image/shorts5.jpg" alt="image5">
            <img src="../image/shorts6.jpg" alt="image6">
        </div>

        <h4>4. Phụ kiện “xịn sò” giúp trang phục gần hơn với chữ “sang” </h4>
        <p>
            Dĩ nhiên, không có phụ kiện cũng chẳng sao, nhưng để gần hơn với chữ sang 
            thì phụ kiện “xịn sò” là không thể thiếu. Điển hình như chiếc đồng hồ đeo 
            tay, kính râm hay dây belt... là những món phụ kiện cơ bản sẽ giúp set đồ 
            của bạn trông “đắt tiền” hơn.
        </p>
        <div class="show1">
            <img src="../image/shorts7.jpg" alt="image7">
            <img src="../image/shorts8.jpg" alt="image8">
        </div>

        <h4>5. Họa tiết, hoa văn không phải là ý tưởng tồi</h4>
        <p>
            Họa tiết, hoa văn là item cứu rỗi cho tủ đồ của phái đẹp bớt nhàm chán 
            thì ai cũng biết. Và tủ đồ của phái mạnh cũng không ngoại lệ! Nhưng nhiều 
            người cho rằng các đấng mày râu mặc áo họa tiết hoa sẽ trở nên nhu mì hơn. Song 
            ngược lại, với khí chất nam tính vốn có, khi mặc chúng các quý anh sẽ càng đậm 
            chất đàn ông hơn bởi hiệu ứng tương phản mạnh mẽ. Bên cạnh đó, họa tiết phi giới 
            tính sọc kẻ, caro cũng là item sinh động cho bạn dạo phố cùng với quần short.
        </p>
        <div class="show1">
            <img src="../image/shorts9.jpg" alt="image9">
            <img src="../image/shorts10.jpg" alt="image10">
        </div>

        <h4>6. Chiếc áo khoác giúp duy trì phong độ</h4>
        <p>
            Áo khoác không chỉ giữ ấm cơ thể mà đôi khi chúng giống như vỏ bọc hoàn hảo 
            cho vẻ bề ngoài của bạn. Đặc biệt chiếc áo blazer, bomber được may đo tinh 
            tế và vừa vặn là món đồ cần thiết giúp bạn duy trì phong độ của mình trong 
            những ngày chớm đông.
        </p>
        <div class="show1">
            <img src="../image/shorts11.jpg" alt="image11">
            <img src="../image/shorts12.jpg" alt="image12">
        </div>

    </div>
</body>
</html>