<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style-lipstick.css" type="text/css">
<title>Mỹ phẩm giúp giảm nếp nhắn</title>
</head>
<body>
	<div>
        <ul class="show">
            <li class="font-li">Rogerles</li>
            <li><a href="news.jsp">Tin tức</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>5 loại mỹ phẩm giúp giảm nếp nhăn, làm căng da mặt cực hiệu quả</h1>
    </div>
    <br><br>

    <div id="content">
        <h3>Nếu muốn làm chậm quá trình lão hóa, giảm nếp nhăn thì bạn nên tham 
            khảo những sản phẩm dưới đây.</h3>
        <h4>1. Mỹ phẩm chứa Argireline aka acetyl</h4>
        <div class="show1">
            <img src="../image/skin1.jpg" alt="image1">
        </div>
        <p>
            Argireline là một peptide nên nó thâm nhập vào da và giúp làm giảm 
            các nếp nhăn hiệu quả. Các peptide làm giãn cơ mặt từ đó da sẽ căng 
            mịn hơn. Argireline không độc hại và được cơ thể loại bỏ dần. Thường 
            các sản phẩm có nồng độ peptide cao có tác dụng rất nhanh trong việc giảm nếp nhăn.
        </p>

        <h4>2. Mỹ phẩm chiết xuất từ nọc rắn</h4>
        <div class="show1">
            <img src="../image/skin2.jpg" alt="image2">
        </div>
        <p>
            Giống như nọc độc của rắn và argireline, peptide nọc rắn làm giãn cơ mặt 
            và kết quả là làm phẳng các nếp nhăn từ nhỏ đến lớn. Đây là chất có tác 
            dụng ngang với botox nhưng hiệu quả lâu dài.
        </p>

        <h4>3. Mỹ phẩm chứa Matrixyl</h4>
        <div class="show1">
            <img src="../image/skin3.jpg" alt="image3">
        </div>
        <p>
            Matrixyl hoặc Palmitoyl pentapeptide-4 cũng là một peptide. Những chất 
            này giúp tái tạo da và sản xuất collagen, axit hyaluronic từ đó làm giảm 
            các nếp da. Mỹ phẩm chứa matrixyl giúp đẩy lùi các dấu hiệu lão hóa. Chất 
            này có thể được chiết xuất riêng biệt hoặc xuất hiện trong nhiều loại 
            serum khác nhau.
        </p>
        
        <h4>4. Chiết xuất chất nhờn của ốc sên</h4>
        <div class="show1">
            <img src="../image/skin4.jpg" alt="image4">
        </div>
        <p>
            Các loại mỹ phẩm với chiết xuất chất nhờn của ốc sên có tác dụng tái tạo, 
            giúp da căng mịn, giữ ẩm và loại bỏ thâm sẹo do mụn để loại. Chúng còn 
            giảm nếp nhăn trên da hiệu quả khi sử dụng trong thời gian dài.
        </p>
        
        <h4>5. Chất chống oxy hóa</h4>
        <div class="show1">
            <img src="../image/skin5.jpg" alt="image5">
        </div>
        <p>
            Chất chống oxy hóa cũng được gọi là chất bảo quản vì chúng làm chậm quá 
            trình lão hóa. Sản phẩm càng có nhiều chất chống oxy hóa thì càng tốt. 
            Dưới đây là một danh sách các chất chống oxy hóa hiệu quả nhất:
            <br><br>
            Vitamin C làm cho da đều màu, ngăn chặn viêm và giúp tổng hợp collagen.
            <br><br>
            Chiết xuất hạt nho là một chất chống oxy hóa mạnh mẽ giúp sản xuất collagen và elastin.
            <br><br>
            Chiết xuất trà xanh phục hồi các tế bào bị hư hỏng và ngăn chặn viêm.
            <br><br>
            Kẽm làm tăng sản xuất collagen và chống lão hóa da.
        </p>
        <div class="show1">
            <img src="../image/skin6.jpg" alt="image6">
        </div>
        <p>
            Tocopherol (vitamin E) kích thích tái tạo và có tác dụng nâng cơ. Nó cũng làm 
            cho da sáng hơn một chút.
            <br><br>
            Retinol (vitamin A) làm tăng sản xuất collagen và chống lại nếp nhăn và lão hóa da.
            <br><br>
            Chiết xuất từ ​​quả lựu giúp làm chậm lão hóa.
        </p>

    </div>
</body>
</html>