<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style-lipstick.css" type="text/css">
<title>Kem chống nắng</title>
</head>
<body>
	<div>
        <ul class="show">
            <li class="font-li">Rogerles</li>
            <li><a href="news.jsp">Tin tức</a></li>
        </ul>
    </div>
    <div class="header">
        <h1>Cách chọn kem chống nắng tốt phù hợp an toàn với từng loại da</h1>
    </div>
    <br><br>

    <div id="content">
        <h3>Kem chống nắng là vật dụng quan trọng giúp bảo vệ làn da dưới sự 
            tác động của tia cực tím hạn chế lão hóa sạm da và tàn nhang hiệu quả. 
            Cách chọn kem chống nắng phù hợp với các làn da dầu, khô, nhạy cảm ra 
            sao hãy cùng tham khảo bài viết dưới đây.</h3>
        
        <h4>Kem chống nắng là gì? </h4>
        <p>
            Kem chống nắng là mỹ phẩm có dạng sữa, xịt hay lotion có khả năng hấp 
            thụ hoặc phản xạ các tia cực tím để bảo vệ làn da không bị cháy nắng 
            cũng như ngăn ngừa sự phát triển của nám , sạm da. 
        </p>
        <p>
            Các loại kem chống nắng thường được phân biệt bằng các chỉ số SPF và 
            PA để đo được tỷ lệ các tia UV phản chiếu vào da. 
        </p>
        <div class="show1">
            <img src="../image/sun1.jpg" alt="image1">
        </div>

        <h4>Kem chống nắng có chỉ số SPF và PA bao nhiêu là tốt nhất? </h4>
        <h4>Chỉ số SPF là gì, SPF ở mức bao nhiêu là tốt nhất?</h4>
        <p>
            Chỉ số SPF (sun protection factor) là chỉ số đo lường khả năng chống lại 
            tia cực tím dựa trên số giờ và tỉ lệ % khi sử dụng kem chống nắng trên da. 
            Các mức chỉ số SPF dao động thấp nhất từ 15 và cao nhất đến 100. Cụ thể như sau:
            <br><br>
            - SPF được tính theo thời gian chống tia UV: Rất đơn giản bạn chỉ cần lấy SPF 
            nhân với 10 sẽ ra được thời gian bảo vệ da tính bằng phút. Ví dụ SPF chống nắng 
            là 20 thì thời gian bảo vệ da là SPF 20 = 20 x 10 = 200 phút = 3h20 phút. Hay SPF 
            50 thì thời gian bảo vệ tối đa là 500 phút. 
            <br><br>
            - Tính theo % chống lại tia UV: Khi đặt trong điều kiện hoàn hảo thì các chỉ số 
            SPF 15 thì sẽ chặn được 93,4% tác hại tia UV, SPF 30 chặn được 96,7%, SPF 50 
            chặn được 98%.
            <br><br>
            => Lưu ý: Đa phần các chỉ số SPF này không chính xác vì còn phụ thuộc vào 
            môi trường, mồ hôi và nước vì vậy thông thường khi sử dụng khoảng 2-4 
            tiếng bạn nên thoa kem chống nắng để bảo vệ da tốt hơn. 
        </p>
        <div class="show1">
            <img src="../image/sun2.jpg" alt="image2">
        </div>

        <h4>Chỉ số PA là gì? PA ở mức bao nhiêu là tốt nhất? </h4>
        <p>
            PA (protection grade of UVA) giúp đo lường khả năng bảo vệ làn da tránh khỏi 
            tác động xấu của tia cực tím do Hiệp hội Mỹ phẩm Nhật ban hành. Thông thường 
            các chỉ số PA có ký hiệu dấu + được hiểu với nghĩa như sau: 
            <br><br>
            - PA+ có khả năng chống lại tia UVA từ 40-50%.
            <br>
            - PA++ khả năng chống tia UVA từ 60-70%.
            <br>
            - PA+++: Khả năng chống tia UVA tới 90%.
            <br>
            - PA++++: Có khả năng chống tia UVA trên 95%.
            <br><br>
            Ngoài ra với các dòng kem chống nắng xuất xứ từ châu Âu chỉ số PA sẽ được ký 
            hiệu thay bằng chỉ số PDP với mức tương ứng như sau:
            <br><br>
            - PA+ tương đương PPD 2 – 4.
            <br>
            - PA++ tương đương PPD 4 – 8.
            <br>
            - PA+++ tương đương PPD 8 – 16.
            <br>
            - PA++++ (4 cộng) tương đương PPD 16+. 
        </p>
        <h4>Kem chống nắng có mấy loại và cách phân biệt ra sao?</h4>
        <p>
            Kem chống nắng được chia ra làm  2 loại bao gồm kem chống nắng 
            vật lý và kem chống nắng hóa học. Cụ thể như sau: 
        </p>

        <h4>Kem chống nắng vật lý: </h4>
        <p>
            Kem chống nắng vật lý có chứa các thành phần khoáng chất hoạt động 
            như tian dioxide hay kẽm oxit… giúp tạo lớp màng ngăn chặn phân tán 
            tia UV gây hại cho da khiến chúng không thể xuyên qua được. 
            <br><br>
            - Ưu điểm: Rất lành cho da, ít gây kích ứng và bền vững dưới nắng. Vì 
            tạo lớp màng ngăn chặn trong thời gian dài nên bạn không cần phải thoa 
            lại kem chống nắng sau vài giờ.
            <br><br>
            - Nhược điểm: Da dễ bị nhờn rít gây bóng nhờn vì có lớp màng bảo vệ. 
        </p>

        <h4>Kem chống nắng hoá học:</h4>
        <p>
            Kem chống nắng hóa học có chứa các thành phần hợp chất hữu cơ như 
            oxybenzone, octinoxate, octisalate và avobenzone giúp tạo ra phản 
            ứng hóa học và hoạt động bằng cách thay đổi tia UV thành nhiệt, sau 
            đó giải phóng nhiệt từ da.
            <br><br>
            - Ưu điểm: Kem chống nắng hóa học thấm nhanh vào da không gây cảm 
            giác nhờn rít và trắng xóa. 
            <br><br>
            - Nhược điểm: Không bền vững bạn thường xuyên bôi lại sau 2 giờ và 
            chờ kem ngấm khoảng 15-20 phút trước khi ra ngoài nắng. 
        </p>
        <div class="show1">
            <img src="../image/sun3.jpg" alt="image3">
        </div>

        <h4>Cách chọn kem chống nắng tốt nhất phù hợp với làn da của bạn Kem 
            chống nắng cho da nhạy cảm:</h4>
        <p>
            Làn da nhạy cảm vốn có nguy cơ dễ bị tổn thương dưới tác động 
            của ánh nắng mặt trời. Để chọn được dòng kem chống nắng phù hợp 
            với làn da này không phải là một điều dễ dàng. 
            <br><br>
            Với bạn nào sở hữu da nhạy cảm nên lựa chọn kem chống nắng vật 
            lý có các thành phần như kẽm oxit và titan dioxit có khả năng bảo 
            vệ làn da khỏi UVA và UVB. Bên cạnh đó nên chứa thêm Retinyl 
            palmitate là một dạng của vitamin A, chống lão hóa và ngăn ngừa 
            cháy nắng, Vitamin E,  Beta carotene giúp bảo vệ da khỏi bị 
            cháy nắng, kích ứng và lão hóa.
        </p>
        <div class="show1">
            <img src="../image/sun4.jpg" alt="image4">
        </div>

        <h4>Kem chống nắng cho da khô:</h4>
        <p>
            Với những ai sở hữu làn da khô bạn nên chọn kem chống nắng có 
            nhiều thành phần giúp dưỡng ẩm cung cấp các dưỡng chất thiết 
            yếu. Các dòng kem chống nắng vật lý hay hóa học đều phù hợp. Dưới 
            tác động của ánh nắng và tia cực tím da khô dễ bị lão hóa trở 
            nên nhăn nheo nên bạn kết hợp sử dụng kem dưỡng ẩm trước khi bôi kem chống nắng. 
        </p>
        <div class="show1">
            <img src="../image/sun5.jpg" alt="image5">
        </div>

        <h4>Kem chống nắng cho da dầu (da nhờn):</h4>
        <p>
            Với những ai sở hữu da dầu nhờn khi thời tiết oi nóng sẽ tiết ra 
            nhiều dầu  khiến da mặt căng bóng đồng thời lớp làm trôi gây ra 
            những vết loang lổ làm mất thẩm mỹ. Để tránh tình trạng nhờn 
            rít bức bí bạn nên lựa chọn các dòng kem chống nắng có chứa 
            cụm từ “No Sebum” (không gây nhờn) hoặc "Oil Free" (không dầu) 
            trên bao bì  hoặc các loại kem chống nắng dạng gel, nước hoặc 
            dạng xịt. Với những bạn có da dầu bị nổi mụn không nên sử dụng 
            những dòng kem chống nắng hóa học vì dòng kem này có kết cấu 
            mỏng nhẹ khả năng thấm hút nhanh gây ra viêm nhiễm tình 
            trạng mụn trầm trọng hơn. 
        </p>
        <div class="show1">
            <img src="../image/sun6.jpg" alt="image6">
        </div>

        <h4>Kem chống nắng cho da mụn:</h4>
        <p>
            Với bạn có làn da bị mụn rất khó khăn khi lựa chọn kem chống nắng 
            tránh được sự viêm nhiễm và bít lỗ chân lông. Để lựa chọn bạn 
            nên chọn những dòng kem chống nắng vật lý chứa zinc oxide và 
            titanium oxide an toàn lành tính với làn da. Và tránh xa sử dụng 
            kem chống nắng hóa học. 
        </p>
        <div class="show1">
            <img src="../image/sun7.jpg" alt="image7">
        </div>

        <h4>Kem chống nắng khi đi bơi:</h4>
        <p>
            Khi đi bơi tiếp xúc với nước bạn cần chọn những loại kem chống 
            nắng  có khả năng chống nước. Khi lựa chọn bạn nên để ý trên 
            bao bì có đề “Water Resistant” hoặc “Water Proof” hoặc các ký 
            hiệu chống nước. Những dòng kem này giúp chống nắng được tối 
            đa khoảng 40 phút đến 1 tiếng mà không phải bôi lại khi bạn ở dưới nước. 
        </p>
        
        <h4>Kem chống nắng khi trang điểm:</h4>
        <p>
            Khi trang điểm sau lớp dưỡng da bạn nên bôi thêm lớp kem chống nắng 
            để bảo vệ da khi ra bên ngoài. Thông thường các đồ make up như phấn 
            nền, kem phủ hay kem nền đều chứa lượng SPF vừa đủ giúp chống nắng. Vì 
            vậy bạn nên lựa chọn các dòng sản phẩm đó phù hợp với từng loại da để trang điểm.
        </p>

        <h4>Cách sử dụng kem chống nắng an toàn hiệu quả nhất</h4>
        <p>
            Cách sử dụng với mỗi dòng kem chống nắng khác nhau. Với kem chống nắng 
            hóa học bạn nên thoa lên mặt đợi 30 phút trước khi ra khỏi nhà còn với 
            kem chống nắng vật lý khi thoa bạn có thể ra ngoài ngay. 
        </p>
        <div class="show1">
            <img src="../image/sun8.jpg" alt="image8">
        </div>
        <p>
            Bên cạnh đó khi trang điểm bạn có thể dùng kem chống nắng sau phần bôi 
            kem dưỡng để chống nắng hiệu quả. Các bạn nên thoa đều kem chống nắng 
            và dùng cho da mặt để chống nắng toàn diện. Cách này thường được sử 
            dụng khi đi chơi hoặc du lịch tiếp xúc nhiều với ánh nắng.
        </p>

    </div>
</body>
</html>